bottle==0.12.25           # via pywebview
certifi==2024.2.2         # via requests
cffi==1.16.0              # via clr-loader
charset-normalizer==3.3.2  # via requests
clr-loader==0.2.6         # via pythonnet
colorama==0.4.6           # via loguru
idna==3.6                 # via requests
loguru==0.7.2             # via miniperf (setup.py)
proxy-tools==0.1.0        # via pywebview
pycparser==2.21           # via cffi
pythonnet==3.0.3          # via pywebview
pywebview==5.0.4          # via miniperf (setup.py)
requests==2.31.0          # via miniperf (setup.py)
typing-extensions==4.10.0  # via pywebview
urllib3==2.2.1            # via requests
win32-setctime==1.1.0     # via loguru
